#didomi-host {
  font-family: 'Bebas Neue',Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
  font-size: 14px !important;
}

#didomi-host .didomi-popup-backdrop {
  background-color: hsla(0,0%,50%,.8) !important;
}

#didomi-host .didomi-buttons .didomi-button.didomi-button-standard {
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 14px; 
}
#didomi-host .didomi-buttons .didomi-button.didomi-button-highlight {
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 14px;
}

#didomi-host .didomi-popup-notice-optin-type {
 max-width: 390px !important;
}

#didomi-host .didomi-popup-notice .didomi-popup-notice-buttons .didomi-button {
    min-width: 109px !important;
    min-height: 56px !important;
    font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-size: 16px !important;
    font-weight: 600;
    border: 2px solid #454545 !important;
    border-radius: 4px !important;
}

#didomi-host h1 {
    font-family: 'Bebas Neue',Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-size: 40px !important;
    font-weight: 400 !important;
    line-height: 40px !important;
    text-align: left !important;
    text-transform: uppercase;
}

#didomi-host p {
    font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    text-align: left !important;
}

#didomi-host p, h1 {
    color: #F8F7C4 !important;
}

#didomi-host#didomi-host a:not(.didomi-no-link-style) {
    color: #F8F7C4 !important;
}

#didomi-host#didomi-host a:not(.didomi-no-link-style):hover {
    text-decoration: none !important;
    opacity: 1 !important;
}

#didomi-host .didomi-popup-container {
    background-color: #191919 !important;
    box-shadow: 0 1px 3px 0 #0000004D, 0 4px 8px 3px #00000026;
}

#didomi-host .didomi-popup-notice {
    padding: 32px 24px !important;
}

#didomi-host .didomi-popup-notice .didomi-popup-notice-logo {
    margin-bottom: 24px !important;
}

#didomi-host .didomi-popup-notice h1 {
    margin-bottom: 12px !important;
    margin-top: 0 !important;
}

#didomi-host .didomi-popup-container,
#didomi-host .didomi-exterior-border {
    border: none !important;
    border-radius: 4px !important;
}

#didomi-host .caption {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  max-width: 390px;
  top: 48px;
  right: 40px;
}

#didomi-host .caption-text {
    font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    left: -132px;
    top: 0%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    white-space: normal;
    word-wrap: break-word;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    margin-bottom: 8px;
    z-index: 10;
    width: 230px;
}

#didomi-host .caption:hover .caption-text,
#didomi-host .caption:focus-within .caption-text {
  opacity: 1;
  pointer-events: auto;
  background-color: rgba(0,0,0,.5);
}

#didomi-host .fa.fa-camera.dev-mode {
    width: 50px;
    height: 50px;
    display: block;
    background: yellow;
}

